<%= link_to "Espionage", root_path, :class => 'brand' %>
<div class="nav-collapse">
  <ul class="nav">
    <li><a href="/missions">Missions</a></li>
    <li><a href="/top_secret_docs">Top Secret Docs</a></li>
  </ul>
</div>
